// Can be configured in initializeDatabase.java or SettingsServiceImpl.java
$primary   : #282D37
$dark : #282D37
$accent:  #ec0016
$positive  : #1e7f5e
$negative  : #e21437
$info      : #31CCEC
$warning   : #fec705

