$primary   : #ec0016
$secondary : #646973
$accent    : #e21437

$dark      : #1D1D1D
$light-blue: #ebf0f5

$positive  : #1e7f5e
$negative  : #e21437
$info      : #31CCEC
$warning   : #fec705

$db-red    : #EC0016
