@import '../quasar-variables.sass';

$toolbar-title-font-size : var(--q-theme-font-size, 35px);
$body-font-size : var(--q-theme-font-size, 20px);

.q-layout {
    font-family: "Arial Black", system-ui;
}
